img{
  width:100%;
}

figure{
  width:30%;
  font-family:Arial;
  float:right;
  text-align:right;
  font-size:14px;
  font-style:italic;
}

p{
	font-size:18px;
	text-align: justify;
}

li{
	list-style: none;
}
figure > img{
	box-shadow: 3px 3px 0px 0px;
}

.carac{
	font-weight: bold;
}

.asavoir{
	text-decoration:underline;
}

.rezo{
	width:25%;
}

.logo{
	width:75%;
}