img{
  width:100%;
}

figure{
  width:30%;
  font-family:Arial;
  float:right;
  text-align:right;
  font-size:14px;
  font-style:italic;
}

p{
	font-size:18px;
	text-align: justify;
}

.article{
	background-color: rgba(204, 204, 179, 0.7);
	border-radius: 5px;
	padding-top: 7px;
}

li{
	list-style: none;
}
figure > img{
	box-shadow: 3px 3px 0px 0px;
	margin-left:10px;
}

.carac{
	font-weight: bold;
	font-variant: small-caps;
}

.asavoir{
	text-decoration:underline;
	text-align: center;
}

.logo{
	width:75%;
}

h1{
	font-size: 48px;
	font-variant: small-caps;
	font-weight: bold;
}


/* Partie CSS du <footer> */
.rezo{
	width:25%;
}
