body{
}

img{
  width:100%;
}

body{
  background-color: #ccc45c;
}

footer{
  background-color: ;
}

figure{
  width:30%;
  float:right;
  font-family:Arial;
}

p{
	text-align:justify;
}
h6{
	text-align: justify;
}
li{
	list-style: none;
}
footer{
	height: 100px;

	background-image: url(photos/Footer.png);
	background-size: 100% 100%;
}