img{
  width:100%;
}

figure{
  width:30%;
  font-family: 'Roboto', sans-serif;
  float:right;
  text-align:right;
  font-size:14px;
  font-style:italic;
}

p{
    font-size:18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

    /*Bannière*/
.logo{
    width:50%;
    margin-bottom: 0.4%;
}

li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}


    /* Partie CSS du <footer> */
.rezo{
    width:25%;
}

.backrezo{
    background-color: rgba(220, 220, 220, 0.7);
    border-radius: 5px;
    padding-top: 7px;
    margin-top: 0.5%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-bottom: 0.4%;
}

    /* CSS video */
.embed-responsive-item{
    width: 90%;
    float: right;
}

    /* FAUTEUILS */
.fauteuil{
    margin-top: 40px;
    margin-bottom: 40px; 
}

.contacte{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
}

textarea{
    min-width: 500px;
    max-width: 500px;
    height: 2em;
}

    /*jean claude*/
.rounded-image{
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    align-content: center;
    border: solid black 2px;
    border-radius: 80px;
    width: 65%;
}

    /*contacts*/
#name{
    width: 500px;
    font-family: 'Roboto', sans-serif;
}

#email{
    width: 500px;
    font-family: 'Roboto', sans-serif;
}

#yourmessage{
    width: 500px;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
}
    /*décalage navbar/bannière*/
body{
    padding-top: 4%;
}

h4 {
    font-size: 30px;
}