.img-shadow {

    box-shadow: 1px 1px 1px black;
}
    

body { padding-top: 50px; }



.rounded-image{
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.container2{
	margin-right: 50px ;
    margin-left: 50px ; 
    height: auto;
}

h4{
	font-size: 16px ;
	font-family: Georgia, Times New Roman , Verdana ;
	font-style: italic;
}

h1 {
	margin-left: 50px ;
	margin-right: 50px ;
<<<<<<< HEAD
}

.row{
 overflow: hidden; 
}

[class*="col-xs-4"]{
 margin-bottom: -99999px;
 padding-bottom: 99999px;
}

@media screen and (max-width: 800px)
{
	.col-xs-4{
		width: auto;
	}

	.responsive {
		display: none;
	}

}

#conteneur 
{
    text-align: center; 
    
}

input 
{
        margin-left:9em;
        height:px;
        width: 300px;
          
}

textarea
{
        margin-left:9em;
        height:100px;
        width: 300px;
          
}

.submit
{
        margin-left:9em;
        height:px;
        width: 30px;
          
}

.fauteuil
{
	width: 45%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.rezo{
	width:25%;
}

